/* heading */

.heading-h1 {
    text-align: center;
    font-size: 5rem;
    font-family: 'Monoton', cursive;
    padding: 5%;
}

.second-section {
    margin-left: auto;
    margin-right: auto;
    /* padding-left:  5% ;
    padding-right: 5%;
    padding-bottom: 5%; */
    padding: 0 10% 10% 10%;
}

.title-heading {
    font-size: 3rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

.title-para {
    padding: 3% 0;
    line-height: 2;
    color: grey;
}

.dwnld-btn-2 {
    margin-left: 20px;
    margin-top: 10px;
    border-radius: 15px;

}

.dwnld-btn-1 {
    margin-top: 10px;
    border-radius: 15px;
}


/* main-box */

.main-box {
    width: 390px;
    height: 580px;
    border-radius: 40px;
    font-family: 'Roboto Mono', monospace;
    background-color: black;
    margin-left: auto;
}

/* display */

#screen {
    width: 315px;
    height: 70px;
    margin-left: 23px;
    pointer-events: none;
    margin-top: 60px;
    border-radius: 20px;
    margin-right: 20px;
    background-color: #C8C2BC;
    border-style: none;
    border: 1px solid black;
    font-size: 2.5rem;
    font-weight: bold;
}

/* button */

.row-1 {
    margin-top: 30px;
}

.btns {
    width: 55px;
    height: 55px;
    margin-left: 23px;
    background-color: #34B3F1;
    border-style: none;
    border-radius: 100%;
    font-weight: bolder;
    font-size: 1.5rem;
}

.clrbtn {
    width: 280px;
    height: 35px;
    margin-top: 38px;
    margin-left: 42px;
    background-color: #F15412;
    border-style: none;
    border-radius: 20px;
    font-weight: bold;
}

.action-btn {
    background-color: #F15412;
}

.equal-btn {
    background-color: #F15412;
}

/* media query */

@media (max-width: 1028px) {

    .heading-h1 {
        font-size: 3rem;
        padding: 5% 5% 0 5%;
    }

    .second-section {
        padding: 0 1% 5% 1%;
    }

    .title-heading {
        font-size: 1.5rem;
        padding: 1%;
    }

    .title {
        text-align: center;
    }

    .title-heading {
        display: none;
    }

    /* main-box */

    .main-box {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }

}