/* heading */

.heading-h1{
    text-align: center;
    font-size: 5rem;
    font-family: 'Monoton', cursive;
    padding: 5%;
}
.second-section{
    margin-left: auto;
    margin-right: auto;
    padding-left:  5% ;
    padding-right: 5%;
    padding-bottom: 5%;
}
.title-heading{
    font-size: 3rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

.title-para{
    padding: 3% 0;
    line-height: 2;
}
.dwnld-btn-2{
    margin-left: 20px;
    margin-top: 10px;
    background-color: #F15412;
    border-style: none;
}
.dwnld-btn-1{
    margin-top: 10px;
    background-color: #F15412;
    border-style: none;
}


/* main-box */

.main-box{
   width: 410px;
   height: 620px;
   border-radius: 5%;
   font-family: 'Roboto Mono', monospace;
   background-color: black;
   margin-left: auto;
}

/* display */

#screen{
    width: 330px;
    height: 70px;
    margin-left: 23px;
    pointer-events: none;
    margin-top: 60px;
    border-radius: 20px;
    margin-right: 20px;
    background-color: #C8C2BC;
    border-style: none;
    border: 1px solid black;
    font-size: 2.5rem;
    font-weight: bold;
}

/* button */

.row-1{
 margin-top: 30px;
}

.btns{
  width: 60px;
  height: 60px;
  margin-left: 23px;
  font-weight: bold;
  background-color:#34B3F1;
  border-style: none;
  border-radius: 100%;
}

.clrbtn{
    width: 300px;
    height: 36px;
    margin-top: 35px;
    margin-left: 44px;
    background-color:#F15412;
    border-style: none;
}
.action-btn{
    background-color:#F15412 ;
}
.equal-btn{
    background-color: #F15412;
}

/* media query */

@media (max-width: 1028px) {

.heading-h1{
    font-size: 3rem;
}

.title-heading{
    font-size: 2rem;
    padding: 1%;
}
.title{
    text-align: center;
}

/* main-box */

.main-box{
   margin-left: auto;
   margin-right: auto;
   margin-top: 50px;
}

}





